* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    
    
}
@media screen and (min-width: 768px) {
    body {
        display: grid;
        grid-template-columns: 30% 70%;
        grid-template-areas: 
        "aside nav"
        "aside main";
    }
    .nav {
        grid-area: nav;
        background-color: lightgrey;
        display: flex;
        flex-direction: row-reverse;
        height: 15%;
        align-items: center;
    }
    .prof-pic {
        height: 40px;
        width: 40px;
        background-color: rgba(189, 186, 186, 0.645);
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }
    
    .aside {
        grid-area: aside;
        height: 100%;
        background-color: grey;
        display: flex;
        justify-content: center;
    
    }
    .aside-box {
        width: 250px;
        height: 100px;
        background-color: rgba(0, 0, 255, 0.404);
        margin-top: 2rem;
    }
    .main {
        grid-area: main;
        display: flex;
        height: 85%;
        justify-content: center;
        align-items: flex-start;
        position: relative;
    }
    .search-container {
        background-color: pink;
        width: 80%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
    }
    .search-container input {
        padding: 5px;
        border: none;
    }
    .search-btn {
        height: 40px;
        width: 40px;
        background-color: rgba(103, 101, 101, 0.787);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: grey;
        position: absolute;
        bottom: 20px;
        right: 20px;
    }
}


@media screen and (max-width: 768px) {
    .aside {
        display: none;
    }
    .nav-box {
        background-color: rgba(0, 0, 255, 0.552);
        height: 30px;
        width: 60px;
    }
    .nav {
        background-color: lightgrey;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        height: 10%;
        align-items: center;
        padding: 5px;
    }
    
    .prof-pic {
        height: 40px;
        width: 40px;
        background-color: rgba(189, 186, 186, 0.645);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .main {
        height: 90%;
        position: relative;
    }
    .search-container {
        background-color: rgba(181, 180, 180, 0.72);
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .search-btn {
        display: none;
    }
    .search-container input {
        border: none;
        padding: 5px;
    }
    .circle {
        width: 50px;
        height: 50px;
        border-radius: 50%;
        background-color: grey;
        position: absolute;
        bottom: 10px;
        left: 20px;
    }
}